Repository robingenz/capacitor-firebase-authentication, pull requests merged in 2021-09, with the labels that each got.

#76 docs: rename "result" to "signInResult"
  docs/firebase-js-sdk.md
Labels: docs

#82 docs: update `Examples` section (`firebase@9.0.1`)
  docs/firebase-js-sdk.md
Labels: docs

#84 fix: catch errors when initializing the Facebook SDK
  README.md
  android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/auth/FirebaseAuthentication.java
  android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/auth/FirebaseAuthenticationPlugin.java
  android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/auth/handlers/FacebookAuthProviderHandler.java
  android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/auth/handlers/OAuthProviderHandler.java
  docs/third-party-sdks.md
  src/definitions.ts
Labels: platform: android, bug/fix

#83 feat(android): support Play Games sign-in
  README.md
  android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/auth/FirebaseAuthentication.java
  android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/auth/FirebaseAuthenticationConfig.java
  android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/auth/FirebaseAuthenticationPlugin.java
  android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/auth/handlers/PlayGamesAuthProviderHandler.java
  docs/setup-play-games.md
  ios/Plugin/FirebaseAuthenticationConfig.swift
  ios/Plugin/FirebaseAuthenticationPlugin.m
  ios/Plugin/FirebaseAuthenticationPlugin.swift
  src/definitions.ts
  src/web.ts
Labels: platform: android, feature
